header {
  height:300px;
  background-image: url("../../assets/images/MDPamanece2.jpg" );
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  background-size: 90rem;
  text-align: center;
  margin: auto;
  width: 100%;
  font-weight: bolder;
  max-width: 1920px;
}

#tablaHeader{
  margin: auto;
  position: absolute;
  top: 50%;
  margin-top: -300px;
}

.iconos-sociales img{ 
  transition:all 0.5s ease-out; 
  margin-right: 2%; 
  margin-top:10%;
  text-align:center;
  display: initial;
  align-content: flex-end;
  vertical-align: middle;
  border-radius:50px;
}
  
.iconos-sociales img:hover{ 
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1); 
  transform:translate(0px, -5px); 
}

.argprog2{
  float: left;
  width:15%;
  height:auto;
}

#Perfil {
  width:10%;
  height:auto;
  float: right;
  position: relative;
}

#Perfil:hover{
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  transform: scale(0.9); 
  opacity: .85;
  transition: opacity 50ms ease-in-out 0s;
  position: relative;
}

body{
  background-color: rgba(212, 240, 171, 0.192);
  margin: auto;
  width: 100%
}