<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p><h1>Bienvenido!!</h1>
                <h6>Para ver el Porfolio de Adrian Rojo debe loguearse.</h6>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
    </div>
    <div class="row" *ngIf="loading">
        <div class="col-md-12">
            <div class="spinner-border text-info float-right" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <form (ngSubmit) ="login()" id="login">
        <div class="row">
            <div class="col-md-6">
                
                <input type="text" class="form-control"  [(ngModel)]="usuario.nombre" [ngModelOptions]="{standalone: true}" placeholder="Usuario"  required> <!--class="form-control" id="floatingInputInvalid"-->
            </div>
            <div class="col-md-6">
                <input type="password" [(ngModel)]="usuario.clave" [ngModelOptions]="{standalone: true}" placeholder="Contraseña" class="form-control" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <input class = "btn btn-success float-end" type="submit" value="ingresar">
            </div>
        </div>
    </form>
    <br>
    <div class="row" *ngIf="errorInicio">
        <div class="alert alert-danger" role="alert">
            <label class="float-end">Usuario o Clave <b>incorrecto.</b></label>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="alert alert-info" role="alert">
            <label class = "alert-link float-end"> Si no posees una cuenta, haz click <a href="#" (click)="crearCuenta()">aqui.</a></label>
        </div>
    </div>
</div>
