<router-outlet></router-outlet>
<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="https://argentinaprograma.inti.gob.ar/" target="_blank">
                    <img src= "../../assets/images/ArgProg2.png" alt="Argentina Programa">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE MI:</h2>
            <p>Mas de veinte años de experiencia en el sector administrativo, como analista de créditos,
                control de fraudes, control de inventario y auxiliar contable, 
                principalmente en el sector de telecomunicaciones.</p>
            <p>Actualmente estoy haciendo el curso de Argentina Programa #YoProgramo, 
                para convertirme en Web Full Stack.</p>
        </div>
        <div class="box">
            <h2>SIGUEME:</h2>
            <div class="iconos-sociales">
                <a href="https://github.com/adrj67" target="_blank"><img loading="lazy" alt="Sígueme en GitHub" height="35" width="35" src="../../assets/icon/github-icono.png" title="Sígueme en GitHub"/></a>
                <a href="https://wa.me/5492234001010?text=Hola!!" target="_blank"><img loading="lazy" alt="Sígueme en WhatsApp" height="35" width="35" src="../../assets/icon/whatsapp-icono.png" title="Sígueme en WhatsApp"/></a>
                <a href="https://ar.linkedin.com/in/adrian-rojo-08b343a1?trk=people-guest_people_search-card" target="_blank"><img loading="lazy" alt=" Sígueme en LinkedIn" height="35" width="35" src="../../assets/icon/linkedIn.icono.png" title="Sígueme en LinkedIn"/></a>
                <a href="https://www.facebook.com/INTIArg" target="_blank"><img loading="lazy" alt="Sígueme en Facebook" height="35" width="35" src="../../assets/icon/facebook-icono.png" title="Sígueme en Facebook"/></a>
                <a href="https://twitter.com/INTIargentina" target="_blank"><img loading="lazy" alt=" Sígueme en Twitter" height="35" width="35" src="../../assets/icon/Twitter-icono.png" title="Sígueme en Twitter"/></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>Diseñado por: Adrian Rojo (2022).</small>
    </div>
</footer>