div{
background-color: rgb(188, 206, 240);
}

table{
background-color: rgb(218, 222, 252);  
}

img{
  width:10%;
  height:auto;
  float: right;
  margin-top:5px;
  /*position: relative;*/
    /*float:right;
    margin-top:5px;*/
}

p{
    clear:right;
}